.main-layout{
    .layout-nav-col{
        width: 100%;
    }
    .main-layout-col{
        display:flex;
        .main-layout-sider{
            width: 20%;
        }
        .main-layout-content{
            width: 80%;
        }
    }
}