.main-layout{
    .layout-nav-col{
        width: 100%;
    }
    .main-layout-col{
        display:flex;
        gap: 5px;
        .main-layout-sider{
            width: 15%;
        }
        .main-layout-content{
            width: 85%;
        }
    }
}