.betplace-module-container{
    width: 100%;
    .bet-place-title{
        background-color: #2C3E50;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 0;
    height: 30px;
    h4{
        padding: 5px;
        font-size: 16px;
   
        font-weight: 400;
        margin-bottom: 0;
    }
    }
    .bet-place-box{
        
        .bet-place-header{
            width: 100%;
            background-color: #dbdbdb;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: bold;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li{
            width: 25%;
            &:nth-child(4){

              text-align: right;
            }
        }
    }
        }
        .place-bet-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 8px 5px;
            font-size: 14px;
            border-bottom: 1px solid #c7c8ca;
            ul{
                width: 100%;
                display: flex;
                li{
                    width: 25%;
                    &:nth-child(1){
                        display: flex;
                        align-items: center;
                        line-height: normal;
                    }
                    &:nth-child(2){
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        input{
                            width: 70%;
                            outline: none;
                        }
                    }
                    &:nth-child(3){
                        margin-left: 10px;
                        input{
                            width: 100%;
                        }
                    }
                    &:nth-child(4){
    text-align: right;
    font-weight: bold;
                    }
                }
            }
        }
        .place-bet-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px 10px 5px 10px;
            .btn-place-bet {
                width: 19%;
                padding: 5px;
                background-color: #cccccc;
                color: #000000;                ;
                border: 0;
                font-weight: bold;
                font-size: 14px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                margin-bottom: 5px;
            }
        }
        .place-bet-action-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 10px 5px 10px;
            .btn {
                min-width: 80px;
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                border-radius: .25rem;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }
            .btn-info {
                background-color: #097c93;
                color: #fff;
                border-color: #097c93;
            }
            
            
            .btn-danger {
                background-color: #bd1828;
                color: #fff;
                border-color: #bd1828;
            }
            .btn-success {
                background-color: #086f3f;
                color: #fff;
                border-color: #086f3f;
            }
        }
    }
}