.subnavbar-container{
    width: calc(100% - 0px);
    background-color: #384b5e;
    padding: .3125rem .9375rem;
    
    ul{
        display: flex;
        align-items: center;
        margin: 0%;
        padding: 0%;
        li{
            color: #fff;
            display: flex;
            font-size: .875rem;
            font-weight: 600;
            padding: .3125rem .9375rem;
            text-transform: uppercase;
        }
    }
}