.home_tab {
    background-color: #bbb;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
    
  
 
  
  .tabs{
&::-webkit-scrollbar {
  display: none;
}

    li {
     background-color: #cccc;
     padding: 8px 12px;
     border-right: 1px solid #000;
     cursor: pointer;
     font-weight: 400;
     font-size: 16px;
     text-align: center;
     line-height: 1;
    
   }
  }
  
  .tabs li.active {
    background-color: #384b5e;
    color: #fff;
  }
  
}
  