.sidebar-box {
    margin-bottom: 5px;
    .sidebar-title {
        background-color: #2C3E50;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 0 0;
        height: 30px;
        h4 {
            padding: 5px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .table-responsive {
        overflow-x: auto;
    width: 100%;
    .table {
        background-color: #f7f7f7;
        color: black;
        margin-bottom: 0;
        width: 100%;
        thead{
            border-color: #c7c8ca;
        }
        th {
            padding: 2px 8px;
            vertical-align: middle;
            font-size: 14px;
            border-bottom-width: 1px;
            &:first-child {
                padding-left: 10px;
                text-align: left;
            }
        }
    }
}
}